<fieldset>@Session["message"]</fieldset>
<br />
<fieldset>
    <legend><b>LOGIN</b></legend>
    <form method="post">
        <br/>
        <table>
            <tr>
                <td>User Name</td>
                <td>:</td>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input type="password" name="pass"></td>
            </tr>
        </table>
        <hr />
        <input name="remember" type="checkbox">Remember Me
        <br/><br/>
        <input type="submit" value="Submit">
        <a href="forgot_password.html">Forgot Password?</a>
    </form>
</fieldset>