@model CSSEntity.Employee

@{
    Layout = "~/Views/Shared/_layout_after_login.cshtml";
}

<h2>Confirmation Messages</h2>
<hr />

<p>
    <b>Registration Successful, An email has been sent to the User</b>
</p>
<p>
    @Html.ActionLink("Back to List", "Employees")
</p>
